VITE_FB_API_KEY=your_api_key
VITE_FB_AUTH_DOMAIN=your_project_id.firebaseapp.com
VITE_FB_PROJECT_ID=your_project_id
VITE_FB_STORAGE_BUCKET=your_project_id.firebasestorage.app
VITE_FB_MSG_SENDER_ID=your_messaging_sender_id
VITE_FB_APP_ID=your_app_id
